* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(to right, #c7d2fe, #e0e7ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #c7d2fe;
}

.input-box button {
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.filters button {
  background: #eef2ff;
  color: #4f46e5;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  background: #f8fafc;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

li button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
